<ion-view class="chat-view" enable-menu-with-back-views="false">
    <ion-nav-title>
        {{schedule.name || "Carregando.."}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear ion-information-circled" ng-click="openPopover($event)"></button>
    </ion-nav-buttons>
    <ion-content class="has-header has-footer padding" delegate-handle="chat-scroll">
        <ion-list>
            <div class="item-text-wrap" ng-class="{
                'chat-message': message.user.id != userId,
                'chat-message-self': message.user.id == userId
            }" ng-repeat="message in messages">
                <div class="avatar">
                    <img class="profile-image" src="img/fernando.jpg" ng-src="{{message.user.image_url}}" alt="foto perfil do usuario" >
                </div>
                <div on-hold='messageOptions(message)'  ng-class="{
                    'chat-bubble': message.user.id != userId,
                    'chat-bubble-self': message.user.id == userId
                }" >
                    <h2 class="c-username">
                        {{::message.user.name}}
                        <p class="timestamp" am-time-ago="message.created_at"></p>
                    </h2>
                    <div compile="::message.content | smartchat"></div>
                </div>
            </div>
        </ion-list>
    </ion-content>
    <form ng-submit="submitMessage(currentMessage)" novalidate>
        <ion-footer-bar class="item-input-inset" keyboard-attach>
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="text" placeholder="Digite sua mensagem.." ng-model="currentMessage" required>
            </label>
            <button class="button button-clear button-send" ng-click="submitMessage(currentMessage)" ng-class="{
                disabled: !currentMessage || currentMessage.trim().length == 0
            }">
                Enviar
            </button>
        </ion-footer-bar>
    </form>
</ion-view>

<script id="channel_popover" type="text/ng-template">
    <ion-popover-view class="channel-popover">
        <ion-header-bar>
            <h2 class="title">{{::channel.name}}</h2>
            <button class="button button-clear button-icon ion-ios-close-empty" ng-click='closePopover()'></button>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item>
                    <p class="popover-info">Avalie o programa:</p>
                    <score ng-model="currentScore"></score>
                </ion-item>

                <ion-item class="item-divider">
                    <p class="popover-info">
                        <i class="icon ion-ios-time-outline"></i> Em {{minutesRemain}} minutos começa:
                    </p>
                </ion-item>
                <ion-item>
                    <img src="img/placeholder.jpg" class="next-schedule-image" data-ng-src="{{nextSchedule.image_url}}" width="200">
                    <h2 class="next-schedule-name">{{nextSchedule.name}}</h2>
                    <p ng-show='nextSchedule.name != nextSchedule.description' class="next-schedule-description">{{nextSchedule.description}}</p>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-popover-view>
</script>
