<ion-view class="chat-view" enable-menu-with-back-views="false">
    <ion-nav-title>
        {{schedule.name || "Carregando.."}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear ion-information-circled" ng-click="openPopover($event)"></button>
    </ion-nav-buttons>
    <ion-content has-bouncing="true" class="padding" delegate-handle="chat-scroll">
        <ion-refresher pulling-text="Carregando mais mensagens.." on-refresh="loadBefore()"></ion-refresher>
        <ion-list>
            <div class="item-text-wrap" ng-class="{
                'chat-message': message.user.id != user.id,
                'chat-message-self': message.user.id == user.id,
                'same-last-user': message.user.id == messages[$index - 1].user.id,
                'pending': message.id == undefined
            }" ng-repeat="message in messages">
                <div class="avatar">
                    <img ng-click='viewUser(message.user)' handle-load-error class="profile-image" src="img/placeholder.jpg" ng-src="{{message.user.image_url}}" alt="foto perfil do usuario" >
                </div>
                <div on-hold='messageOptions(message)'  ng-class="{
                    'chat-bubble': message.user.id != user.id,
                    'chat-bubble-self': message.user.id == user.id
                }" >
                    <h2 class="c-username" ng-style="{
                        'color': getUserColor(message.user.id)
                    }">
                        <span class="username">{{::message.user.username}}</span> <span class="timestamp" am-time-ago="message.created_at"></span>
                    </h2>
                    <p compile="::message.content | smartchat"></p>
                </div>
                <div class="like-button">
                    <i class="icon ion-ios-heart-outline"></i> <!--TODO: QUANDO CURTIR MUDAR PARA ion-ios-heart-->
                    <p class="counter-like">400</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </ion-list>
    </ion-content>
    <form ng-submit="submitMessage(currentMessage)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
              <label class="item-input-wrapper">
                  <textarea placeholder="Digite sua mensagem.." ng-model="currentMessage" required minlength="1" maxlength="1500" msd-elastic></textarea>
              </label>
              <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                ng-click="submitMessage(currentMessage)" ng-class="{
                    disabled: !currentMessage || currentMessage.trim().length == 0
                }">
                </button>
              </div>
          </ion-footer-bar>
    </form>
</ion-view>

<script id="channel_popover" type="text/ng-template">
    <ion-popover-view class="channel-popover">
        <ion-header-bar>
            <h2 class="title">{{::channel.name}}</h2>
            <button class="button button-clear button-icon ion-ios-close-empty" ng-click='closePopover()'></button>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item>
                    <p class="popover-info">Avalie {{schedule.name}}:</p>
                    <score ng-model="currentScore"></score>
                </ion-item>
                <ion-item class="item-divider">
                    <p class="popover-info">
                        <i class="icon ion-ios-time-outline"></i> Em {{minutesRemain | timeramain}} começa:
                    </p>
                </ion-item>
                <ion-item>
                    <img src="img/placeholder.jpg" class="next-schedule-image" data-ng-src="{{nextSchedule.image_url}}" width="200">
                    <h2 class="next-schedule-name">{{nextSchedule.name}}</h2>
                    <p ng-show='nextSchedule.name != nextSchedule.description' class="next-schedule-description">{{nextSchedule.description}}</p>
                    <p class="button button-block button-salmon text-center">
                        Ver progamação completa
                    </p>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-popover-view>
</script>
