<div class="a-card" data-ng-click="joinChannel(channel)">
	<div class="img-box">
	    <img src="img/placeholder.jpg" data-ng-src="{{channel.current_schedule.image_url}}">
	    <p class="rate"><i class="rate-icon ion-ios-star"></i> {{channel.current_schedule.current_score || "-.-"}}</p> 
	    </div>
    <div class="card-info">
        <img ng-src="{{channel.image_url}}" alt="logo da emissora">
        
        <h2>{{channel.name}} </h2>

        <p>{{channel.current_schedule.name}} </p>
        <p>100 participantes</p>
        <button class="btn button-salmon">Entrar no chat</button>
    </div>
</div>
