<ion-view hide-back-button="true" class="channels-view" view-title="Canais" enable-menu-with-back-views="false">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="openPopover($event)">
            <ion-spinner icon="dots" ng-show="isLoading" class="white-spinner"></ion-spinner>
            <i class="icon ion-android-more-horizontal" ng-hide="isLoading"></i>
        </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Buscar canais" ng-model="filter.name">
        </label>
    </div>
    <ion-content class="has-subheader">
        <div class="padding" id="channels-list">
            <div class="row">
                <div class="col col-50">
                    <ng-include ng-repeat="channel in evenChannels | filter:filter" src="'templates/channel_tile.html'"></ng-include>
                </div>
                <div class="col col-50">
                    <ng-include ng-repeat="channel in oddChannels | filter:filter" src="'templates/channel_tile.html'"></ng-include>
                </div>
            </div>
            <!-- <div deckgrid source="channels" id="channels-box" cardTemplate="templates/channel_tile.html" class="deckgrid"></div> -->
        </div>
    </ion-content>
</ion-view>


<script id="channels_popover" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar>
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left">
                    <i class="icon ion-person"></i> Meu Perfil
                </ion-item>
                <ion-item class="item-icon-left" ng-click="refresh()">
                    <i class="icon ion-refresh"></i> Atualizar
                </ion-item>
                <ion-item class="item-icon-left" ng-click="logout()">
                    <i class="icon ion-log-out"></i> Sair
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-popover-view>
</script>
