<ion-view view-title="Favoritos" class="favorites-view">
    <ion-nav-buttons side="right">
        <button class="button button-clear ion-plus-round" ng-click="seeShows()"></button>
        <button class="button button-clear ion-ios-trash" ng-click='toggleDisplayDelete()'></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-spinner ng-if='isLoadingFavorites'></ion-spinner>
        <ion-list>
            <ion-item ng-if='schedules.length > 0' ng-repeat='schedule in schedules track by schedule.show_schedule.id'>
                <div style="background-image: url('{{schedule.show_schedule.image_url}}')" class="show-image"></div>
                <div class="show-info">
                    <h2>{{schedule.show_schedule.name}}</h2>
                    <p>{{schedule.show_schedule.channel.name}}</p>
                    <button ng-click='removeLike(schedule, $index)' class="button icon ion-ios-close-empty remove-fav" ng-class="{
                        'slideLeft': showDeleteButton,
                        'slideRight': !showDeleteButton

                    }"></button>
                </div>
            </ion-item>
        </ion-list>
        <div class="no-favs-text" ng-if='schedules.length === 0'>
            <div class="row">
                <i class="icon ion-ios-star"></i>
            </div>
            <div class="row">
                <h5 class="text-center">Você não tem nenhum programa favoritado</h5>
            </div>
            <div class="row">
                <p class="text-center help-text-fav">Favorite seus programas preferidos e iremos lhe avisar antes dele começar!</p>
            </div>
        </div>
    </ion-content>
</ion-view>
