<ion-modal-view class="forgot-view">
    <ion-header-bar class="bar">
        <button class="button button-clear button-icon ion-ios-close-empty" ng-click='closeForgotPasswordModal()'></button>
    </ion-header-bar>
    <ion-content>
        <h1 class="text-center">
            <img src="img/logo.png" alt="" width="180">
        </h1>
        <div class="padding form-forgot">
            <p class="text-center">Esqueci minha senha!</p>
            <form class="list list-inset med-quick-anim" novalidate animation-handle="forgot-form" ng-submit='forgot(forgotEmail)'>
                <label class="item item-input bg-transparent bradius-bottom">
                    <input type="email" placeholder="Digite seu email" ng-model="forgotEmail">
                </label>
                <button class="button button-block button-salmon button-login">
                    Enviar
                </button>
            </form>
        </div>
    </ion-content>
</ion-modal-view>
