<ion-modal-view class="full-schedule-view">
    <ion-header-bar class="bar-salmon">
        <button class="button button-clear button-icon ion-ios-close-empty" ng-click='closeScheduleModal()'></button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <div class="text-center">
                <div class="padding">
                    <img ng-src="{{::channel.image_url}}" width="20" handle-load-error class="channel-logo" alt="logo da emissora">
                    <h2 class="channel-name">
                        {{channel.name}}
                    </h2>
                </div>
            </div>

            <label for="{{schedule.name}}" ng-repeat="schedule in fullSchedule">
                <input type="checkbox" name="{{schedule.name}}" id="{{schedule.name}}" class="description-toggle-input" autocomplete="off" />
                <ion-item class="item-thumbnail-left schedule-item" >
                    <img src="img/placeholder.jpg" class="channel-image" data-ng-src="{{schedule.image_url}}">
                    <h2>{{schedule.name}}</h2>
                    <p>{{schedule.start_time | date:'MM/dd/yyyy HH:mm'}}</p>
                    <p class="program-description" >{{schedule.description}}</p>
                </ion-item>
            </label>
        </ion-list>
    </ion-content>
</ion-modal-view>
