<ion-modal-view class="full-schedule-view">
    <ion-header-bar class="bar-salmon">
        <button class="button button-clear button-icon ion-ios-close-empty" ng-click='closeScheduleModal()'></button>
        <div class="title header-item" >
            <span class="nav-bar-title">
                <img ng-src="{{::channel.image_url}}" width="20" handle-load-error class="channel-logo" alt="logo da emissora">
                <h2 class="channel-name">
                    {{channel.name}}
                </h2>
            </span>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <label ng-repeat="schedule in fullSchedule" for="{{::schedule.name}}-{{$index}}">
                <input type="checkbox" name="{{::schedule.name}}-{{$index}}" id="{{::schedule.name}}" class="description-toggle-input" autocomplete="off" />
                <ion-item class="schedule-item" >
                    <div class="channel-image" style="background-image: url({{::schedule.image_url || 'img/placeholder.jpg'}});" ></div> <!--data-ng-src="{{schedule.image_url}}"-->
                    <h2>{{::schedule.name}}</h2>
                    <p class="schedule-date">{{::schedule.start_time | date:'dd/MM/yyyy HH:mm'}}</p>
                    <p class="program-description" >{{::schedule.description}}</p>
                </ion-item>
            </label>
        </ion-list>
    </ion-content>
</ion-modal-view>
