<ion-view hide-nav-bar="true" hide-back-button="true" class="login-view">
    <ion-content>
        <h1 class="text-center main-logo">
            <img src="img/logo.png" alt="logo zaper" width="180">
        </h1>
        <div class="text-center padding">
            <p class="call-text">Converse com seus amigos enquanto assiste TV!</p>
        </div>
        <div class="list padding">
            <a class="item item-icon-left item-icon-right button-facebook" ng-click='facebookLogin()'>
                <i class="icon ion-social-facebook "></i> Entre com o Facebook
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right list-button-salmon" href="#/login-form">
                <i class="icon ion-ios-home"></i> Já possui cadastro? Entre aqui!
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>

    </ion-content>
    <div class="bar bar-footer">
        <a class="item item-icon-left register-button" href="#/register">
            Não possui conta? Cadastre <span class="underline">aqui!</span>
        </a>
    </div>

</ion-view>
