<ion-view hide-nav-bar="true" hide-back-button="true" class="login-view">
    <ion-content scroll="false">
        <ion-slide-box>
            <ion-slide class="slide-1">
                <section class="text-center channels-view">
                    <img src="img/logo-mini.png" width="180">
                    <p class="call-text">No zaper, você conversa com seus amigos sobre seus programas favoritos!</p>
                    <img src="../img/tiles.png" class="tiles">
                </section>
            </ion-slide>
            <ion-slide class="slide-2 padding">
                <section class="text-center">
                    <p class="call-text">Pode relaxar, a gente te avisa quando seu programa favorito começar.</p>
                    <hr>
                    <img src="http://placehold.it/250x280" alt="" class="full-image">
                </section>
            </ion-slide>
            <ion-slide class="slide-3 padding">
                <section class="text-center">
                    <p class="call-text">Todo mundo quer saber o que você acha da TV!</p>
                    <hr>
                    <img src="http://placehold.it/250x280" alt="" class="full-image">
                </section>
            </ion-slide>
            <ion-slide class="slide-4 padding">
                <section class="text-center">
                    <p class="call-text">Saiba o que vai passar e se prepare!</p>
                    <hr>
                    <img src="http://placehold.it/250x280" alt="" class="full-image">
                </section>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <ion-footer-bar class="bar-salmon">
        <div class="button-bar">
            <a class="button button-clear button-positive enter-btn" href="#/login-form">
                Entrar
            </a>
            <a class="button button-clear button-positive" href="#/register">
                Cadastre-se
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
