<ion-view view-title="Meu Perfil" class="profile-view">
    <ion-content class="has-header" scroll="false">
        <div class="top-container">
            <div class="img-container">
                <img handle-load-error id="current-image" src="img/placeholder.jpg" ng-src="{{user.image_url}}" alt="" class="full-image profile-image">
                <input type="file" id="file-input" onchange="angular.element(this).scope().onImageChange(this)">
            </div>
            <div class="text-center">
                <h4 class="username">{{user.username}}</h4>
            </div>
        </div>
        <div class="bottom-container padding">
            <p>
                Nome:
            </p>
            <p>
                {{user.name}}
            </p>
            <p>
                Data de nascimento:
            </p>
            <p>{{user.birthdate | date:'dd/MM/yyyy'}}</p>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-confirm">
        <div class="title" ng-click="saveImage()">Salvar alterações</div>
        <!--TODO: SÓ APARECER QUANDO ALGUMA ALTERAÇÃO FOR FEITA-->
    </div>
</ion-view>
