<ion-view view-title="Meu Perfil" class="profile-view">
    <ion-content class="has-header" scroll="false">
        <div class="top-container">
            <div class="img-container">
                <img handle-load-error id="current-image" src="img/placeholder.jpg" ng-src="{{user.image_url}}" alt="" class="full-image profile-image">
                <input type="file" id="file-input" onchange="angular.element(this).scope().onImageChange(this)">
            </div>
            <div class="text-center">
                <h4 class="username">{{user.username}}</h4>
            </div>
        </div>
        <div class="bottom-container card">
            <div class="text-center">
                <label class="item item-input">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <input type="text" ng-model="user.name" placeholder="Digite o seu nome">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-calendar-outline placeholder-icon"></i>
                    <p>19/12/1990</p>
                </label>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-confirm">
        <div class="title" ng-click="saveImage()">Salvar alterações</div>
        <!--TODO: SÓ APARECER QUANDO ALGUMA ALTERAÇÃO FOR FEITA-->
    </div>
</ion-view>
