<ion-view view-title="Meu Perfil" class="profile-view">
    <ion-content class="has-header">
        <div class="top-container">
            <div class="img-container" ng-click='changeImage()'>
                <img handle-load-error src="img/placeholder.jpg" ng-src="{{user.image_url}}" alt="" class="full-image profile-image">
            </div>
            <div class="text-center">
                <h4 class="username">{{user.username}}</h4>
            </div>
        </div>
        <div class="bottom-container card">
            <div class="text-center">
                <label class="item item-input">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <input type="text" ng-model="user.name" placeholder="Digite o seu nome">
                </label>
                <label class="item item-input" ng-click='pickDate()'>
                    <i class="icon ion-ios-calendar-outline placeholder-icon"></i>
                    <p>{{(user.birthdate | date:'dd/MM/yyyy') || "Clique para mudar"}}</p>
                </label>
                <label class="item item-input item-select">
                    <i class="icon ion-ios-body-outline placeholder-icon"></i>
                    <select ng-model='user.gender' ng-options='gender.id as gender.label for gender in genders'></select>
                </label>
                <label class="item item-toggle">
                    Compartilhar com FB
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model='data.facebookShareEnable'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>
                <!-- <ion-toggle ng-model="facebookShareEnable" ng-change='toggleFacebookShare()' toggle-class="toggle-calm">Compartilhamentos</ion-toggle> -->
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-confirm">
        <div class="title" ng-click="update()">Salvar alterações</div>
        <!--TODO: SÓ APARECER QUANDO ALGUMA ALTERAÇÃO FOR FEITA-->
    </ion-footer-bar>
</ion-view>
