<ion-view class="register-view" view-title="Cadastro">
    <ion-content class="has-header">
        <h1 class="text-center">
            <img src="img/logo.png" alt="" width="150">
        </h1>

        <div class="padding form-login">
            <form name="registerForm" ng-init="setForm(this)" ng-submit="register(user)" class="list list-inset med-quick-anim" novalidate animation-handle="register-form">
                <label class="item item-input bg-transparent" ng-class="{
                    'error': registerForm.name.$dirty && !registerForm.name.$valid,
                    'success': registerForm.name.$dirty && registerForm.name.$valid
                }">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <input type="text" placeholder="Nome" name="name" ng-model="user.name" required>
                </label>
                <label class="item item-input bg-transparent"ng-class="{
                    'error': registerForm.email.$dirty && !registerForm.email.$valid,
                    'success': registerForm.email.$dirty && registerForm.email.$valid
                }">
                    <i class="icon ion-ios-email-outline placeholder-icon"></i>
                    <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
                </label>
                <label class="item item-input bradius-bottom bg-transparent" ng-class="{
                    'error': registerForm.password.$dirty && !registerForm.password.$valid,
                    'success': registerForm.password.$dirty && registerForm.password.$valid
                }">
                    <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                    <input type="password" placeholder="Senha" name="password" ng-model="user.password" required>
                </label>
                <label class="item item-input bradius-bottom bg-transparent" ng-class="{
                    'error': registerForm.password.$dirty && registerForm.password.$valid && (user.password !== user.confirm_password),
                    'success': registerForm.password.$dirty && registerForm.password.$valid && (user.password === user.confirm_password)
                }">
                    <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                    <input type="password" placeholder="Confirmar senha" name="confirm_password" ng-model="user.confirm_password" required>
                </label>
                <button class="button button-block button-salmon button-login">
                    Registrar
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
