<ion-view class="register-view">
    <ion-content class="has-header">
        <h1 class="text-center">
            <img src="img/logo.png" alt="" width="150">
        </h1>

        <div class="padding form-login">
            <form ng-submit="register(user)" class="list list-inset">
                <label class="item item-input bg-transparent">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <input type="text" placeholder="Nome" ng-model="user.name">
                </label>
                <label class="item item-input bg-transparent">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <input type="email" placeholder="Email" ng-model="user.email">
                </label>
                <label class="item item-input bradius-bottom bg-transparent">
                    <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                    <input type="password" placeholder="Senha" ng-model="user.password">
                </label>
                <label class="item item-input bradius-bottom bg-transparent">
                    <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                    <input type="password" placeholder="Confirmar senha" ng-model="user.confirm_password">
                </label>
                <button class="button button-block button-balanced button-login">
                    Registrar
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
