<ion-modal-view class="favorites-view">
    <ion-header-bar class="bar-salmon ">
        <button class="button button-clear button-icon ion-ios-close-empty" ng-click='closeShowsModal()'></button>
        <div class="title header-item">
            <span class="nav-bar-title">
                <p class="title">
                    Programas
                </p>
            </span>
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="text" placeholder="Digite o nome do programa" ng-model="query" ng-change='queryResult(query)'>
            </label>
            <button class="button button-clear">
              Buscar
            </button>
        </div>
        <ion-list>
            <ion-item class="schedule-item" ng-repeat="schedule in searchSchedules track by schedule.id">
                <div class="channel-image" style="background-image: url({{::schedule.image_url || 'img/placeholder.jpg'}});"></div>
                <h2>{{::schedule.name}}</h2>
                <p class="schedule-date">{{::schedule.start_time | date:'dd/MM/yyyy HH:mm'}}</p>
                <!-- <button class="icon-left favorite-button" ng-click="toggleFavorite(schedule)" ng-class="{
                                                    'ion-ios-star-outline': !schedule.is_favorite,
                                                    'favorited-button': schedule.is_favorite,
                                                    'ion-ios-star': schedule.is_favorite
                                                }"> {{schedule.is_favorite ? 'Favorito' : 'Favoritar programa'}}</button> -->
                <!-- <label expand-item for="{{::schedule.name}}-{{$index}}" ng-if="schedule.description.length > 0 && schedule.name != schedule.description">
                    <i class="icon ion-ios-arrow-down see-more-button"></i>
                    <input type="checkbox" name="{{::schedule.name}}-{{$index}}" id="{{::schedule.name}}" class="description-toggle-input" autocomplete="off" />
                    <p class="program-description">{{::schedule.description}}</p>
                </label> -->
            </ion-item>
        </ion-list>
        <div class="no-favs-text">
            <div class="row">
                <i class="icon ion-ios-search"></i>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
