<ion-modal-view class="favorites-view">
    <ion-header-bar class="bar-salmon ">
        <button class="button button-clear button-icon ion-ios-close-empty" ng-click='closeShowsModal()'></button>
        <div class="title header-item">
            <span class="nav-bar-title">
                <p class="title">
                    Programas
                </p>
            </span>
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="text" placeholder="Digite o nome do programa" ng-model="query" ng-change='queryResult(query)'>
            </label>
        </div>
        <ion-spinner ng-if='isFetching' class="centered"></ion-spinner>
        <ion-list>
            <ion-item ng-repeat='schedule in searchSchedules track by schedule.id' ng-class="{
                'is-favorite': schedule.is_favorite
            }">
                <div class="backdrop-item"><i class="icon ion-checkmark"></i> Favoritado</div>
                <div style="background-image: url('{{::schedule.image_url || 'img/placeholder.jpg'}}')" class="show-image-modal"></div>
                <div class="show-info">
                    <h2>{{::schedule.name}}</h2>
                    <p>{{schedule.channel.name}}</p>
                    <button class="icon-left favorite-button" ng-click="addFavorite(schedule, $index)" ng-class="{
                                                        'ion-ios-star-outline': !schedule.is_favorite,
                                                        'favorited-button': schedule.is_favorite,
                                                        'ion-ios-star': schedule.is_favorite
                                                    }"> {{schedule.is_favorite ? 'Favorito' : 'Favoritar programa'}}</button>
                </div>

            </ion-item>
        </ion-list>
        <div class="no-favs-text" ng-if='searchSchedules.length === 0 && !isFetching'>
            <div class="row">
                <i class="icon ion-ios-search"></i>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
