<ion-view class="username-view" view-title="Escolha seu Usuário">
    <ion-content class="has-header">
        <h1 class="text-center">
            <img src="img/logo.png" alt="" width="150">
        </h1>

        <div class="padding form-login">
            <form name="registerForm" ng-init="setForm(this)" ng-submit="register(user)" class="list list-inset med-quick-anim" novalidate animation-handle="register-form">
                <label class="item item-input bg-transparent" ng-class="{
                    'error': registerForm.username.$dirty && !registerForm.username.$valid,
                    'success': registerForm.username.$dirty && registerForm.username.$valid
                }">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <input type="text" placeholder="Usuário" name="username" ng-model="user.username" username>
                </label>
                <button class="button button-block button-salmon button-login">
                    Continuar
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>
