<ion-modal-view class="profile-view">
    <ion-header-bar class="bar-salmon">
        <button class="button button-clear button-icon ion-ios-close-empty right-button" ng-click='closeModal()'></button>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="top-container">
            <div class="img-container">
                <div handle-load-error id="current-image" style="background-image: url({{userToView.image_url|| 'img/placeholder.jpg'}})" class="full-image profile-image"></div>
            </div>
            <div class="text-center">
                <h4 class="username">{{userToView.username}}</h4>
            </div>
        </div>
        <div class="bottom-container" ng-if="userToView.name || userToView.birthdate || userToView.gender">
            <div class="list">
                <label class="item item-input" ng-if="userToView.name">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <p>{{userToView.name}}</p>
                </label>
                <label class="item item-input" ng-if="userToView.birthdate">
                    <i class="icon ion-ios-calendar-outline placeholder-icon"></i>
                    <p>{{userToView.birthdate | date:'dd/MM/yyyy'}}</p>
                </label>
                <label class="item item-input" ng-if="userToView.gender">
                    <i class="icon ion-ios-people-outline placeholder-icon"></i>
                    <p>{{genders[userToView.gender]}}</p>
                </label>
            </div>
        </div>
        <div class="padding" ng-if="!userToView.name && !userToView.birthdate && !userToView.gender">
            <p class="text-center"><strong>{{userToView.username}}</strong> não possui nenhuma informação adicionada em seu perfil.</p>
        </div>
    </ion-content>
</ion-modal-view>
