<ion-modal-view class="profile-view">
    <ion-header-bar class="bar-salmon">
        <button class="button button-clear button-icon ion-ios-close-empty" ng-click='closeModal()'></button>
    </ion-header-bar>
    <ion-content>
        <div class="top-container">
            <div class="img-container">
                <img handle-load-error id="current-image" src="img/placeholder.jpg" ng-src="{{userToView.image_url}}" alt="" class="full-image profile-image">
            </div>
            <div class="text-center">
                <h4 class="username">{{userToView.username}}</h4>
            </div>
        </div>
        <div class="bottom-container card">
            <div class="text-center">
                <label class="item item-input" ng-if="userToView.name">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <p>{{userToView.name}}</p>
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-calendar-outline placeholder-icon"></i>
                    <p>{{userToView.birthdate | date:'dd/MM/yyyy'}}</p>
                </label>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
