/* Animation Definitions */

@keyframes popout {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate-360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-30px);
    }
    60% {
        transform: translateX(-15px);
    }

}

/* Animation Classes */

.popout {
    animation: popout 1s;
}
.rotate-360-continuous {
    animation: rotate-360 1s infinite;
}
.bounce-finite {
    animation: bounce 1s;
}

/* Animation TEMPO */

.quick-anim {
    animation-duration: 0.2s;
}
.med-quick-anim {
    animation-duration: 0.5s;
}
.med-anim {
    animation-duration: 1s;
}
.med-slow-anim {
    animation-duration: 1.5s;
}
.slow-anim {
    animation-duration: 2s;
}
