.channels-view {
    ion-view {
        background: url("../img/bg-login-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rate-app-bar.slide-up {
        transform: translateY(0);
    }
    .rate-app-bar {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        padding: 5px;
        height: 110px;
        background: darken($zaper-green, 15%);
        overflow: visible;
        bottom: 0;
        box-shadow: 0px -16px 30px -13px rgba(0,0,0,1);
        transform: translateY(150px);
        transition: .5s ease-in-out;
        .close-rate-bar {
            position: absolute;
            font-size: 2em;
            top: -35px;
            right: 5px;
            background:  darken($zaper-green, 15%);
            border-radius: 5px 5px 0 0;
            padding: 0 10px;

        }
        .button-clear.activated {
            opacity: 1;
        }
        .container-title-rate {
            display: block;
            margin: 0 auto;
            max-height: 32px;
            width: 100%;
            .title-rate {
                font-size: 1.1em;
                font-weight: 400;
                display: block;
                color: white;
                margin-bottom: 15px;
            }
        }
        .button-no {
            background: none;
            border: 2px solid white;
            color: white;
            font-size: 1em;
            clear: both;

        }
        .button-yes {
            background: white;
            border: 2px solid white;
            color: darken($zaper-green, 15%);
            font-weight: 500;
            margin-left: 4%;
            font-size: 1em;
            clear: both;

        }

    }
    .button-clear.button-clear {
        color: white;
    }
    .channels-list {
        column-gap: 10px;
        column-fill: auto;
        column-width: 45%;
        column-count: 2;
    }
    .a-card {
        break-inside: avoid-column;
        &:first-child {
            margin-top: 0;
        }
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, .15);
        box-shadow: none;
        .img-box {
            .channel-image {
                width: 100%;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }
        }
        .card-info {
            background: white;
            padding: 0.5em 1em;
            display: block;
            margin-top: -5px;
            .button-salmon {
                margin-bottom: 10px;
            }
            .channel-logo {
                display: inline-block;
                max-width: 25px;
                max-height: 25px;
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
            .channel-name {
                font-size: 1em;
                font-weight: 300;
                margin-top: 5px;
                margin-bottom: 3px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: middle;

            }
            .channel-info {
                font-size: 0.8em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-bottom: 0;
                line-height: 1.7;
            }
            .rate {
                font-size: 1em;
                .rate-icon {
                    color: gold;
                }
            }

        }
    }
}

.profile-image-popover {
    width: 32px;
    height: 32px;
    align-items: center;
    display: flex;
    left:11px;
    position: absolute;
    top: 10px;
    border-radius: 20%;
}

.channels-popover.popover {
    height: 390px;
    .ion-ios-star {
        color: gold;
    }
}

.score {
    .icon {
        font-size: 2em;
        color: gold;
    }
}
