.channels-view {
    background: #ede1b5;
    background: url("../img/bg-login.jpg");
    .title {
        color: white;
    }
    .rate {
        font-size: 1.3em;
    }
    .rate-icon {
        color: gold;
    }
    .list-inset {
        margin: 0;
    }
    .button-clear.button-clear {
        color: white;
    }
    #channels-list {
        .col {
            padding: 0;
        }
        .row {
            padding: 0;
        }
    }
    .a-card {
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, .15);
        margin: 0 10px 10px 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        .img-box  {
            position: relative;
            img {
                width: 100%;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }
            p {
                position: absolute;
                bottom: 0;
                background: rgba(79,198,179,0.5);
                width: 100%;
                margin-bottom: 0;
                padding-bottom: 10px;
                text-align: center;
            }
        }
        .card-info {
            background: white;
            padding: 0.5em 1em;
            position: relative;
            display: block;
            margin-top: -5px;
            .button-salmon {
                margin-bottom: 10px;
            }
            h2 {
                font-size: 1.1em;
                margin-top: 3px;
                margin-bottom: 15px;
                padding-left: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            p {
                font-size: 0.8em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-bottom: 0;
                line-height: 1.7;
            }

            img {
                position: absolute;
                top: 7px;
                left: 13px;
                max-width: 25px;
                max-height: 25px;
                width: 100%;
                height: 100%;
            }
        }
    }
    #channels-list {
        .col:nth-child(2) {
            .a-card {
                margin-right: 0;
            }
        }
    }
}


.channel-popover.popover {
        height: 370px;
        p {
            font-size: 0.8em;
            margin-bottom: 2%;
        }
        h2 {
            font-size: 1em;
        }
        img {
            width: 100%;
        }
        .item {
            padding: 10px;
        }
        .item p {
            white-space: initial;
        }
        i {
            font-weight: bold;
        }
    }



.score {
    i {
        font-size: 2em;
        color: gold;
    }
}
