.chat-view {
    background: #fcebca;
    background: url("../img/bg-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    p {
        margin: 0 0 7px;
        font-size: 1em;
    }
    .clearfix {
        clear: both;
    }
    .chat-message, .chat-message-self {
        &.pending {
            opacity: 0.3;
        }
        .chat-link {
            color: $positive;
            text-decoration: none;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .chat-message {
        margin-bottom: 10px;
        clear:both;
        &.same-last-user {
            .chat-bubble::after {
                display: none;
            }
            .profile-image {
                display: none;
            }
            .username {
                display: none;
            }
        }
        .avatar {
            width: 40px;
            height: 40px;
            margin-right: 4%;
            float: left;
        }
        .profile-image {
            margin: 0;
            width: 100%;
            height: 100%;
            border-radius: 20%;
        }

    }
    .chat-bubble {
        padding: 5px 10px 0.1px;
        transform: translate3d(0px, 0px, 0px);
        background: white;
        float: left;
        max-width: 80%;
        margin-bottom: 5px;
        border-radius: 5px;
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 5px 10px 9px 0;
            border-color: transparent #fff;
            display: block;
            width: 0;
            z-index: 1;
            left: -8px;
            top: 1px;
        }
    }
    .button-clear.button-send {
        &.disabled {
            color: #b2b2b2;
        }
        font-weight: 400;
        color: $salmon;
    }
    .timestamp {
        font-size: 0.6em;
        color: grey;
        font-weight: 300;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 2px;
        width: 100%;
    }
    .c-username {
        font-size: 1em;
        color: #f75f51;
        margin-bottom: 0;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
    .chat-message-self {
        margin-bottom: 10px;
        position: relative;
        clear: both;
        margin-bottom: 5px;
        .avatar {
            width: 40px;
            height: 40px;
            display: inline-block;
            float: right;
            margin-left: 4%;
            .profile-image {
                margin: 0;
                width: 100%;
                height: 100%;
                border-radius: 20%;
                display: inline-block;
            }
        }
        .timestamp {
            color: white;
        }
        &.same-last-user {
            .chat-bubble-self::after {
                display: none;
            }
            .profile-image {
                display: none;
            }
            .username {
                display: none;
            }
        }
    }
    .chat-bubble-self {
        padding: 5px 10px 0.1px;
        transform: translate3d(0px, 0px, 0px);
        background: lighten($salmon, 5%);
        float: right;
        margin-bottom: 5px;
        max-width: 80%;
        border-radius: 5px;
        color: white;
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 5px 0 9px 10px;
            border-color: transparent lighten($salmon, 5%);
            display: block;
            width: 0;
            z-index: 1;
            right: -8px;
            top: 1px;
        }
    }
}
