.chat-view {
    background: #e7e4da;
    .chat-message, .chat-message-self {
        .chat-link {
            color: $positive;
            text-decoration: none;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .chat-message {
        margin-bottom: 10px;
        .profile-image {
            margin: 0;
            float: left;
            /* border-radius: 5%; */
        }
    }
    .chat-bubble {
        margin-left: 20%;
        padding: 5px 10px 0.1px;
        transform: translate3d(0px, 0px, 0px);
        background: white;
        /* border-radius: 5px; */
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 8px 10px 8px 0;
            border-color: transparent #fff;
            display: block;
            width: 0;
            z-index: 1;
            left: -8px;
            top: 6px;
        }
    }
    .button-clear.button-send {
        &.disabled {
            color: #b2b2b2;
        }
        font-weight: 400;
        color: $salmon;
    }
    .timestamp {
        font-size: 0.8em;
        float: right;
        color: #d8d8d8;
        font-weight: 300;
    }
    .c-username {
        font-size: 1em;
        color: #f75f51;
    }
    .chat-message-self {
        margin-bottom: 10px;
        .profile-image {
            margin: 0;
            float: right;
            /* border-radius: 5%; */
        }
    }
    .chat-bubble-self {
        margin-right: 20%;
        padding: 5px 10px 0.1px;
        transform: translate3d(0px, 0px, 0px);
        background: white;
        /* border-radius: 5px; */
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 8px 0 8px 10px;
            border-color: transparent white;
            display: block;
            width: 0;
            z-index: 1;
            right: -8px;
            top: 6px;
        }
    }
}
