.chat-view {
    background: #fcebca;
    background: url("../img/bg-login-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    p {
        margin: 0 0 7px;
        font-size: 1em;
        line-height: 1.3;
    }
    .clearfix {
        clear: both;
    }

    .chat-message, .chat-message-self {
        &.pending {
            opacity: 0.3;
        }
        .chat-link {
            color: $positive;
            text-decoration: none;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .chat-message {
        margin-bottom: 10px;
        clear:both;
        &.same-last-user {
            .chat-bubble::after {
                display: none;
            }
            .profile-image {
                display: none;
            }
            .username {
                display: none;
            }
        }
        .like-button {
            color: white;
            padding-top: 5px;
            float: left;
            padding-left: 5px;
            i {
                font-size: 1.5em;
                font-weight: bold;

            }
            i.ion-ios-heart {
                color: #F44336;
            }
            p {
                font-size: 0.8em;
                line-height: 0.5;
            }
        }
        .avatar {
            width: 40px;
            height: 40px;
            margin-right: 4%;
            float: left;
        }
        .profile-image {
            margin: 0;
            width: 100%;
            height: 100%;
            border-radius: 20%;
        }

    }
    .chat-bubble {
        padding: 5px 10px 0.1px;
        transform: translate3d(0px, 0px, 0px);
        background: white;
        float: left;
        max-width: 72%;
        margin-bottom: 5px;
        border-radius: 5px;
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 5px 10px 9px 0;
            border-color: transparent #fff;
            display: block;
            width: 0;
            z-index: 1;
            left: -8px;
            top: 1px;
        }
    }
    .button-clear.button-send {
        &.disabled {
            color: #b2b2b2;
        }
        font-weight: 400;
        color: $salmon;
    }
    .timestamp {
        font-size: 0.6em;
        color: grey;
        font-weight: 300;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 2px;
        width: 100%;
    }
    .c-username {
        font-size: 1em;
        color: #f75f51;
        margin-bottom: 0;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
    .chat-message-self {
        margin-bottom: 10px;
        position: relative;
        clear: both;
        margin-bottom: 5px;
        .like-button {
            color: white;
            padding-top: 4%;
            float: right;
            padding-right: 5px;
            vertical-align: middle;
            position: relative;
            i {
                font-size: 1.5em;
                vertical-align: middle;
                margin: 0 auto;
                font-weight: bold;
            }
            i.ion-ios-heart {
                color: #F44336;
            }
            p {
                font-size: 0.8em;
                line-height: 0.5;
                margin: 0 auto;
            }
        }
        .avatar {
            width: 40px;
            height: 40px;
            display: inline-block;
            float: right;
            margin-left: 4%;
            .profile-image {
                margin: 0;
                width: 100%;
                height: 100%;
                border-radius: 20%;
                display: inline-block;
            }
        }
        &.same-last-user {
            .chat-bubble-self::after {
                display: none;
            }
            .profile-image {
                display: none;
            }
            .username {
                display: none;
            }
        }
    }
    .chat-bubble-self {
        padding: 5px 10px 0.1px;
        transform: translate3d(0px, 0px, 0px);
        background: white;
        float: right;
        margin-bottom: 5px;
        max-width: 72%;
        border-radius: 5px;
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 5px 0 9px 10px;
            border-color: transparent white;
            display: block;
            width: 0;
            z-index: 1;
            right: -8px;
            top: 1px;
        }
    }

}

.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
  width: 100%;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 7px;
}

.footer-btn {
  position: absolute !important;
  bottom: 0;
}

input, textarea, .item-input, .item-input-wrapper {
  background-color: #f4f4f4 !important;
}

.channel-popover .ng-animate .scroll-bar {
  visibility: visible !important;
}

.channel-popover .scroll-bar-fade-out{
  opacity:1 !important
}

.item .button-salmon{
    color: white;
}

.chat-button-facebook {
    background-color: rgba(59, 89, 152, 1);
    /* box-shadow: -1px 10px 4px -8px rgba(0,0,0,0.27); */
    box-shadow: none;
    color: white;
    font-size: 0.9em;
    padding: 0.4em;
}
