.favorites-view {
    background: #F5F5F5;
    .bar .button.button-clear.ion-plus-round {
        padding-right: 10px;
        font-size: 20px;
    }
    .item {
        padding: 0;
    }
    .show-image {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 20px;
        background-position: center center;
        background-size: cover;
    }
    .show-info {
        padding: .8em;
    }
    h2.title {
        color: white;
    }
    .no-favs-text {
        margin-top: 40%;
        i {
            width: 100%;
            text-align: center;
            font-size: 5em;
            color: lighten($salmon, 30%);;
        }
        h5 {
            width: 100%;
            color: #949DD3;
        }
    }
}
