@keyframes swipeOutList {
    0% {
        transform: translateY(0);
        max-height: 65px;
    }

    100% {
        transform: translateX(101%);
        max-height: 0px;
    }
}

@keyframes enterFromTop {
    0% {
        transform: translateY(-101%);
    }
    100% {
        transform: translateY(0);
    }
}

.favorites-view {
    background: #f5f5f5;
    .ion-ios-gear {
        padding-right: 300px;
    }
    .item {
        padding: 0;
        &.ng-enter {
            animation: enterFromTop .8s forwards ease;
        }
        &.ng-leave {
            animation: swipeOutList .8s forwards ease;
        }
    }
    .show-image {
        width: 140px;
        height: 60px;
        float: left;
        margin-right: 10px;
        background-position: center center;
        background-size: cover;
    }
    .show-info {
        padding: 0.3em;
        a {
            position: absolute;
            top: 5px;
            right: 10px;
        }
        .button-icon.icon:before {
            font-size: 23px;
        }
        .remove-fav {
            border: 0;
            padding: 0.2em;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            color: #f44336;
            background: white;
            font-size: 2em;
            transition: transform 0.4s ease-in-out;
        }
        .button.icon-left:before,
        .button.icon-right:before,
        .button.icon:before {
            font-size: 35px;
        }
    }
    h2.title {
        color: white;
    }
    .no-favs-text {
        margin-top: 40%;
        i {
            width: 100%;
            text-align: center;
            font-size: 5em;
            color: lighten($salmon, 30%);
        }
        h5 {
            width: 100%;
            color: #949dd3;
        }
    }
}
.slideRight {
    transform: translateX(100px);
}
.slideLeft {
    transform: translateX(0);
}
.bar-salmon .button-clear.button-clear.ion-plus-round {
    padding-right: 20px;
    font-size: 25px;
}
.bar-salmon .button-clear.button-clear.ion-ios-trash {
    font-size: 25px;
}
