.forgot-view {
    background: url("../img/bg-login-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .bar {
        background: transparent;
        .button.button-clear {
            font-size: 20px;
            color: white;
        }
    }
    .list-inset {
        background: none;
    }
    .padding {
        padding: 20px;
    }
    p,h4 {
        color: white;
    }
    h4 {
        margin-top: 50px;
    }
    #forgot-label{
        border-radius: 6px;
    }
}
