loader svg {
    width: 100%;
}

.bar-1,
.bar-2,
.bar-3,
.bar-4,
.bar-5,
.bar-6 {
    width: 80px;
    height: 200px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    animation: popIn 1s alternate-reverse infinite;
}
.bar-1 {
    fill: #f4cf67;
    animation-delay: 0.1s;
}
.bar-2 {
    fill: #badef4;
    animation-delay: 0.2s;
}
.bar-3 {
    fill: #acce8e;
    animation-delay: 0.3s;
}
.bar-4 {
    fill: #ddacd3;
    animation-delay: 0.4s;
}
.bar-5 {
    fill: #dd5e6a;
    animation-delay: 0.5s;
}
.bar-6 {
    fill: #949dd3;
    animation-delay: 0.6s;
}
@keyframes popIn {
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0);
    }
}
