.login-view {
    background: #ede1b5;
    background: url("../img/bg-login-2.jpg");
    background-size: cover;
    .channels-list {
        width: 90%;
        margin: auto;
    }
    .btn.button-salmon {
        display: none;
    }
    .padding {
        padding: 10px 30px;
    }
    .list.padding {
        padding: 15px;
    }
    .main-logo {
        margin-bottom: 0.5em;
        margin-top: 1em;
    }
    .call-text {
        font-size: 1.2em;
        color: white;
    }
    .list-inset {
        background-color: transparent;
    }
    label.item {
        border: 2px solid rgba(255,255,255,0.4);
        margin-bottom: 5px;
    }
    .card .item:first-child,
    .list-inset .item:first-child,
    .padding > .list .item:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .bradius-bottom {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .item.bg-transparent {
        background: rgba(255,255,255,0.8);
    }
    .placeholder-icon:first-child {
        font-size: 1.6em;
    }
    .item-icon-left .icon {
        font-size: 1.7em;
    }
    a.item {
        font-size: 1em;
    }
    .item {
        background: rgba(255,255,255,0.8);
        border: 0;
        border-radius: 6px;
    }
    .button-facebook {
        background-color: rgba(59, 89, 152, 1);
        /* box-shadow: -1px 10px 4px -8px rgba(0,0,0,0.27); */
        box-shadow: none;
    }
    .list-button-salmon {
        background: rgba(221,94,106,1);
        color: white;
        /* box-shadow: -1px 10px 4px -8px rgba(0,0,0,0.27); */
        box-shadow: none;
    }
    a.button-facebook {
        color: white;
    }
    .placeholder-icon {
        color: black;
    }
    .list a {
        margin-top: 10px;
    }
    .bar-footer {
        /* background: rgba(255,255,255,0.8); */
    }
    .register-button {
        z-index: 0;
        display: block;
        margin: 0 auto;
        text-align: center;
        line-height: 3px;
        background: none;
        overflow: hidden;
        text-overflow: initial;
        white-space: nowrap;
    }
    .underline {
        border-bottom: 1px solid black;
    }
    .forgot-password {
        color: white;
        font-weight: 400;
        text-decoration: underline;
    }
    .slide-2 {
        position: relative;
    }
    .notification-mock {
        left:0;
        position: absolute;
        bottom:-50px;
        width: 100%;
    }

}

.form-login {
    hr {
        margin-top: 20px;
    }
}


@media only screen
and (min-device-width : 600px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    .login-view {
        .main-logo {
            margin-top: 30%;
            img {
                width: 50%;

            }
        }
        p.call-text {
            font-size: 2em;
            line-height: 1;
        }
    }
    .notification-mock {
        width: 400px;
    }

}
