.login-view {
    background: #ede1b5;
    background: url("../img/bg-login-2.jpg");
    background-size: cover;
    .padding {
        padding: 10px 30px;
    }
    .list.padding {
        padding: 15px;
    }
    .main-logo {
        margin-bottom: 0.5em;
        margin-top: 1em;
    }
    .call-text {
        font-size: 1.2em;
        color: white;
    }
    .list-inset {
        background-color: transparent;
    }
    label.item {
        border: 2px solid rgba(255,255,255,0.4);
        margin-bottom: 5px;
    }
    .card .item:first-child,
    .list-inset .item:first-child,
    .padding > .list .item:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .bradius-bottom {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .item.bg-transparent {
        background: rgba(255,255,255,0.8);
    }
    .placeholder-icon:first-child {
        font-size: 1.6em;
    }
    .item-icon-left .icon {
        font-size: 1.7em;
    }
    a.item {
        font-size: 1em;
    }
    .item {
        background: rgba(255,255,255,0.8);
        border: 0;
        border-radius: 5px;
    }
    .button-facebook {
        background-color: rgba(59, 89, 152, 1);
        box-shadow: -1px 10px 4px -8px rgba(0,0,0,0.27);
    }
    .list-button-salmon {
        background: rgba(221,94,106,1);
        color: white;
        box-shadow: -1px 10px 4px -8px rgba(0,0,0,0.27);
    }
    a.button-facebook {
        color: white;
    }
    .placeholder-icon {
        color: black;
    }
    .list a {
        margin-top: 10px;
    }
    .bar-footer {
        background: rgba(255,255,255,0.8);
    }
    .register-button {
        z-index: 0;
        display: block;
        margin: 0 auto;
        text-align: center;
        line-height: 3px;
        background: none;
        overflow: hidden;
        text-overflow: initial;
        white-space: normal;
    }
    .underline {
        border-bottom: 1px solid black;
    }
}
