.ngn {
    .ngn-dismiss {
        display: none;
    }
}

.ngn.ngn-info {
    background-color: #0e90d2;
}

.ngn.ngn-error {
    background-color: #F44336;
}

.ngn.ngn-success {
    background-color: #00CC00;
}

.ngn.ngn-warn {
    background-color: #FF9900;
}

.ngn.ngn-grimace {
    background-color: #660099;
}
