.profile-view {
    background: white;
    .top-container {
        position: relative;
        padding-top: 5%;
        padding-bottom: 5%;
        background: $salmon;
        .img-container {
            width: 120px;
            height: 120px;
            display: block;
            margin: 0 auto;
            position: relative;
            input[type="file"] {
                position: absolute;
                top: 0;
                left: 0;
                height: 120px;
                width: 120px;
                opacity: 0;
            }
            .profile-image {
                border-radius: 10%;
                position: relative;
                width:100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .username {
            color: white;
        }
    }
    .placeholder-icon:first-child {
        font-size: 2em;
        color: $salmon;
        padding-right: 20px;
    }
    .placeholder-icon:last-child {
        padding-left: 0;
    }
    .item p {
        color: black;
    }
    .button-confirm {
        background: rgba(76,175,80,1);
        color: white;
        font-weight: 400;
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .item-input, input {
        background: white!important;
    }
}

.item-select select {
    left: 46px;
    direction: ltr;
}

.item-toggle {
    text-align: left;
}
