.profile-view {
    background: url("../img/bg-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .profile-image {
        border: 1px solid #bababa;
        border-radius: 5px;
    }
}
