.full-schedule-view {
    ion-content {
        background: $salmon;
    }
    .channel-logo {
        width: auto;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
    }
    .channel-name {
        color: white;
        font-size: 1em;
        margin-top: 5px;
        margin-left: 5px;
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
    }
    .channel-image {
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 100px;
        height: 70px;
        vertical-align: top;
        float: left;
        margin-right: 15px;
    }
    .favorite-button {
        background: none;
        border: 1px solid darken($zaper-green, 20%);
        padding: 0.1em 0.4em;
        border-radius: 5px;
        transition: all .4s;

    }
    .favorited-button {
        background: darken($zaper-green, 20%);
        border: 1px solid darken($zaper-green, 20%);
        padding: 0.1em 0.4em;
        border-radius: 5px;
        color: white;
        transition: all .4s;
    }
    .ion-ios-star-outline::before, .ion-ios-star::before {
        color: gold;
    }

    .ion-ios-checkmark-empty::before{
        font-size: 1.5em;
        vertical-align: middle;
    }
    .schedule-item {
        max-height: 130px;
        box-shadow: inset 0px -20px 10px -16px rgba(0,0,0,0.2);
    }
    .schedule-date {
        font-style: italic;
    }
    .see-more-button {
        font-size: 2em;
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
        position: absolute;
        bottom: 0;
        right: 10px;
        color: $salmon;
        transition: all 0.4s;
    }
    .item  {
        white-space: normal;
        vertical-align: top;
        h2, p {
            vertical-align: top;
        }
        .program-description {
            white-space: normal;
            font-weight: 300;
            clear: both;
            margin-top: 10px;
            padding-right: 15px;
        }
    }

    .description-toggle-input {
        display: none;
    }
    .schedule-item.expanded {
        max-height: 1000px;
        .see-more-button {
            transform: rotate(180deg);
        }
    }

}
