.full-schedule-view {
    ion-content {
        background: $salmon;
    }
    .channel-logo {
        width: auto;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
    }
    .channel-name {
        color: white;
        font-size: 1em;
        margin-top: 5px;
        margin-left: 5px;
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
    }
    .channel-image {
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 100px;
        height: 70px;
        vertical-align: top;
        float: left;
        margin-right: 5px;
    }
    .schedule-item {
        max-height: 110px;
        // transition: max-height 1s ease-in-out; TA BUGANDO
        // box-shadow: inset 0px -10px 55px -30px grey;
    }
    .item  {
        white-space: normal;
        vertical-align: top;
        h2, p {
            vertical-align: top;
        }
        .program-description {
            white-space: normal;
            font-weight: 300;
        }
    }

    .description-toggle-input {
        display: none;
        &:checked ~ .schedule-item {
            max-height: 1000px;
        }
    }

}
