.slider {
    height: 100%;
    .call-text {
        font-size: 1.1em;
    }


    .slider-slide section {
        margin-top: 20px;
    }
    .slider-slide.slide-2, .slider-slide.slide-3, .slider-slide.slide-4 {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .slider-slide.slide-1 {
        background-color: transparent;
    }
    .slider-slide.slide-1 section{
        position: absolute;
        top: 5%;
        .call-text {
            margin-top: 5%;
            padding: 5px;
        }
    }
    .slider-pager .slider-pager-page {
        color: white;
    }


}

@media (max-width: 330px) {
    .channels-view .a-card {
        margin-top: 0;
        width: 100%;
        height: 100%;
        &:last-child {
            position: absolute;
            width: 150px;
            top: 175px;
            right: 50px;
            height: 160px;
            box-shadow: -8px 4px 18px -10px rgba(0,0,0,0.63);
        }
        .card-info {
            text-align: left;
        }
    }
    .slider {
        .channels-list {
            margin-left: 40px;
        }
    }
}
