<div class="a-card" >
    <div class="img-box">
        <img preload-image="{{channel.current_schedule.image_url}}" class="channel-image">
    </div>
    <div class="card-info" >

        <h2 class="channel-name"><img preload-image="{{::channel.image_url}}" class="channel-logo" alt="logo da emissora"> {{::channel.name}}</h2>

        <p class="channel-info">{{channel.current_schedule.name}}</p>
        <p class="channel-info">
            <ng-pluralize count="channelStatus[channel.id] || 0" when="{
                    '0': 'Nenhum participante',
                    'one': '1 participante',
                    'other': '{} participantes'
             }"></ng-pluralize>
        </p>
        <p class="rate channel-info">

            <i class="rate-icon" ng-class="{
                'ion-ios-star': channel.current_schedule.current_score >= 1,
                'ion-ios-star-half': (channel.current_schedule.current_score < 1 && channel.current_schedule.current_score > 0),
                'ion-ios-star-outline': channel.current_schedule.current_score == null
            }"></i>
            <i class="rate-icon" ng-class="{
                'ion-ios-star': channel.current_schedule.current_score >= 2,
                'ion-ios-star-half': (channel.current_schedule.current_score < 2 && channel.current_schedule.current_score > 1),
                'ion-ios-star-outline': channel.current_schedule.current_score <= 1
            }"></i>
            <i class="rate-icon" ng-class="{
                'ion-ios-star': channel.current_schedule.current_score >= 3,
                'ion-ios-star-half': (channel.current_schedule.current_score < 3 && channel.current_schedule.current_score > 2),
                'ion-ios-star-outline': channel.current_schedule.current_score <= 2
            }"></i>
            <i class="rate-icon" ng-class="{
                'ion-ios-star': channel.current_schedule.current_score >= 4,
                'ion-ios-star-half': (channel.current_schedule.current_score < 4 && channel.current_schedule.current_score > 3),
                'ion-ios-star-outline': channel.current_schedule.current_score <= 3
            }"></i>
            <i class="rate-icon" ng-class="{
                'ion-ios-star': channel.current_schedule.current_score >= 5,
                'ion-ios-star-half': (channel.current_schedule.current_score < 5 && channel.current_schedule.current_score > 4),
                'ion-ios-star-outline': channel.current_schedule.current_score <= 4
            }"></i>
        </p>
        <button class="btn button-salmon" ng-click="joinChannel(channel)">Entrar no chat</button>
    </div>
</div>
