<div class="item-text-wrap chat-message twaper">
    <div class="avatar">
        <img handle-load-error class="profile-image" src="img/placeholder.jpg" ng-src="{{::message.payload.image_url}}" alt="foto perfil do usuario">
        <i class="icon ion-social-twitter"></i>
    </div>
    <div class="chat-bubble">
        <h2 class="c-username" ng-style="{
            'color': getUserColor(message.user.id)
        }">
            <span class="username">{{::message.payload.username}}</span>
        </h2>
        <p compile="::message.payload.content | smartchat"></p>
        <span class="timestamp" >{{::message.created_at | date:'HH:mm'}}</span>
    </div>
</div>
