<div class="item-text-wrap" ng-class="{
    'chat-message': message.user.id != user.id,
    'chat-message-self': message.user.id == user.id,
    'same-last-user': message.user.id == messages[$index - 1].user.id,
    'pending': message.id == undefined,
    'focus-message': message.is_focused
}"  id="message-{{message.id}}">
    <div class="avatar">
        <div ng-click='viewUser(message.user)' class="profile-image" style="background-image: url('img/placeholder.jpg')" preload-image="{{::message.user.image_url}}" is-css alt="foto perfil do usuario"></div>
    </div>
    <div class="message-wrapper" on-touch='message.is_focused = true' on-release='message.is_focused = false'>
        <div on-hold='messageOptions(message)' ng-class="{
            'chat-bubble': message.user.id != user.id,
            'chat-bubble-self': message.user.id == user.id
        }">
            <h2 class="c-username" ng-style="{
            'color': getUserColor(message.user.id)
            }">
                <span class="username" ng-if='message.user.id != 1'>{{::message.user.username}}</span>
            </h2>
            <p compile="::message.compiled_content"></p>
            <span class="timestamp" >{{::message.created_at | date:'HH:mm'}}</span>
        </div>
        <div class="like-button" ng-click='toggleLike(message)' >
            <i class="icon med-quick-anim" animation-handle='message-{{message.id}}'
            ng-class='{
            "ion-ios-heart-outline": !message.liked,
            "ion-ios-heart": message.liked
        }'></i>
            <p class="counter-like" ng-if="message.count_likes > 0">{{message.count_likes}}</p>
        </div>
    </div>
</div>
